* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font: 100% Helvetica, sans-serif;
  background-color: #141414;
}
.App {
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
img {
  max-width: none;
}
.h-76 {
  height: 19.5rem;
}
.hide {
  display: none;
}
.video:hover .fw-arr {
  display: flex;
}
.top {
  top: 2rem;
}
.h-306 {
  height: 306px;
}
.video {
  height: 358px;
}
img {
  border: none;
}
.red-color {
  color: #e50914;
}
.text-color {
  color: #e5e5e5;
}
.nav-color:hover {
  color: #b3b3b3;
}
.video-title {
  font-size: 1.2rem;
  padding-left: 0.3rem;
}
.scroll-transition {
  scroll-behavior: smooth;
}
.video-card:hover {
  z-index: 100;
  transform: scale(1.7);
  transition: transform 1s;
}
.show {
  display: block;
}
select {
  background-color: #141414;
  color: #e5e5e5;
  outline: none;
  font-size: 1rem;
}

@media only screen and (max-width: 700px) {
  .browser-header {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  .mobile-header {
    display: none;
  }
}
